<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "portfolio.mapper.CartMapper">

	<insert id="infoToCart" >
	insert into CART (CID,CAMOUNT,MEMBER_MID,GOODS_GNUM) values((select ifnull(max(cId),0)+1 from cart as cId),#{cAmount},#{member_mId},#{goods_gNum})
	</insert>
	<select id="findDupGoods" resultType="vo.CartVO">
	select * from CART where member_mid = #{member_mId} and goods_gnum = ${goods_gNum}
	</select>
	<select id="cartList" resultType="vo.CartVO">
	<![CDATA[
	 	select c.cId,c.cAmount,c.member_mId,c.goods_gNum,g.gName,g.gPrice,g.member_mId sellerID,
	 	g.gImg1 from CART c,Goods g where c.goods_gNum = g.gNum and c.member_mId=#{userID} limit #{sno} , #{perPageNum}   ]]>
	</select>
	<select id="cartListCount" resultType="integer">
		select count(*) from CART where member_mId = #{mId};
	</select>
	<delete id="deleteCart">
		delete from CART where cid = #{cId}
	</delete>
	<select id="getCartRow" resultType="integer">
		select count(*) from CART where member_mid = #{mId};
	</select>
	<select id="purchaseList" resultType="vo.CartVO" parameterType="java.util.HashMap">
    select c.*,g.gnum,g.gname,g.gprice from CART c ,Goods g where c.goods_gnum = g.gnum and c.member_mid ='${member_mId}' and
           <foreach collection="cIdList" item="item" index="index" separator="or" open="(" close=")">
                cId = ${item}
           </foreach>
	</select>
	<select id="checkCartAmount" resultType="integer">
		select g.gStock from Goods as g, CART as c where c.goods_gnum=g.gnum and c.member_mid=#{member_mId} and c.goods_gnum=#{goods_gNum}
	</select>
	<update id="updateCartAmount">
		update CART set cAmount=#{cAmount} where member_mid=#{member_mId} and goods_gnum=#{goods_gNum}
	</update>
	
	

</mapper>