<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "portfolio.mapper.GoodsMapper">
	
	<!-- goodsInsert -->
	<insert id="goodsInsert">
		insert into 
		goods(gnum, gstock, gprice, gname, gimg1, gimg2, gpoint, gcategory, gcategory2, member_mid) 
		values((select ifnull(max(gnum),0)+1 from goods as gnum), #{gstock}, #{gprice}, #{gname},#{gimg1},#{gimg2}, 0, #{gcategory}, #{gcategory2}, #{member_mid})
	</insert>
	<select id="goodsSearch" parameterType="String" resultType="vo.GoodsVO">
	select * from goods where gname like '${value}%' or gname like '%${value}%' or gname like '%${value}' or gcategory like '${value}%' or gcategory like '%${value}%' or gcategory like '%${value}' or gcategory2 like '${value}%' or gcategory2 like '%${value}%' or gcategory2 like '%${value}'
	</select>
	<select id ="goodsDetail" resultType="vo.GoodsVO">
	select * from goods where gnum = #{gnum}
	</select>
	<select id = "myGoodsList" resultType="vo.GoodsVO">
		select * from goods where member_mid = #{member_mid}
	</select>
	<update id="goodsUpdate">
		update goods set 
		gcategory=#{gcategory}, gcategory2=#{gcategory2}, 
		gname=#{gname}, gprice=#{gprice}, gstock=#{gstock}, gimg1=#{gimg1}, gimg2=#{gimg2} 
		where gnum=#{gnum}
	</update>
	<select id="homeGoodsList" resultType="vo.GoodsVO">
		select * from goods order by gdate desc limit 0, 12
	</select>
	<select id="homeRecomList" resultType="vo.GoodsVO">
		select * from goods order by gprice desc limit 0, 12
	</select>
</mapper>